<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edubit.curriculapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CurriculApp">
        <activity android:name=".Profundizaciones"></activity>
        <activity android:name=".Configuracion" />
        <activity android:name=".Informacion" />
        <activity android:name=".Electivas" />
        <activity android:name=".Optativas" />
        <activity android:name=".Aprobe" />
        <activity android:name=".QuieroCursar" />
        <activity android:name=".MapaCurricular" />
        <activity android:name=".MisCursos" />
        <activity android:name=".Perfil" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.CurriculApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>